{% extends 'medicine/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block main_content %}

<div class="container mt-4">
<h4 class="text-primary text-center">How It Works</h4>
<p class="text-secondary text-center mt-4">Fast, easy and free to get service what you are looking for.</p>
<div class="row">
    <div class="col-sm-3 text-center mt-3">
    <i class="fas fa-edit text-danger fa-2x"> <br><br><span style="font-size: 27px; color:black; font-family: 'Scheherazade New', serif;">Place an Order</span></i>
    <i class="fas fa-arrow-right" style="margin-left:50px;"></i>
    </div>
    <div class="col-sm-3 text-center mt-3">
    <i class="fas fa-eye text-danger fa-2x"> <br><br><span style="font-size: 27px; color:black; font-family: 'Scheherazade New', serif;">Find a Medicine</span></i>
    <i class="fas fa-arrow-right" style="margin-left:50px;"></i>
    </div>
    <div class="col-sm-3 text-center mt-3">
    <i class="fas fa-phone text-danger fa-2x"> <br><br><span style="font-size: 27px; color:black; font-family: 'Scheherazade New', serif;">Contact Us</span></i>
    <i class="fas fa-arrow-right" style="margin-left:50px;"></i>
    </div>
    <div class="col-sm-3 text-center mt-3">
    <i class="fas fa-truck text-danger fa-2x"> <br><br><span style="font-size: 27px; color:black; font-family: 'Scheherazade New', serif;">Fast Delivery</span></i>
    </div>
</div>
</div>

<div class="container mt-5 bg-danger p-5">
    <h2 class="text-center text-white">Our Happy Clients</h2>
    <p class="text-center text-white mt-4">We make our clients always happy and provide best services</p>
    <div class="row mt-5">
    <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row ">
                            <div class="col-sm-4">
                                <img src="{% static 'medicine/images/1.jpg' %}" alt="Services" class="img-fluid d-flex justify-content-center" style="margin-left:20px; margin-top:20px;">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <p class="card-text text-secondary">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><strong><span class="text-danger text-bold">Jennifer Lopez</span></strong><small class="text-muted">  Web Designer</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row ">
                            <div class="col-sm-4">
                                <img src="{% static 'medicine/images/1.jpg' %}" alt="Services" class="img-fluid d-flex justify-content-center" style="margin-left:20px; margin-top:20px;">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <p class="card-text text-secondary">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><strong><span class="text-danger text-bold">Jennifer Lopez</span></strong><small class="text-muted">  Web Designer</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row ">
                            <div class="col-sm-4">
                                <img src="{% static 'medicine/images/1.jpg' %}" alt="Services" class="img-fluid d-flex justify-content-center" style="margin-left:20px; margin-top:20px;">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <p class="card-text text-secondary">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><strong><span class="text-danger text-bold">Jennifer Lopez</span></strong><small class="text-muted">  Web Designer</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row ">
                            <div class="col-sm-4">
                                <img src="{% static 'medicine/images/1.jpg' %}" alt="Services" class="img-fluid d-flex justify-content-center" style="margin-left:20px; margin-top:20px;">
                            </div>
                            <div class="col-sm-8">
                                <div class="card-body">
                                    <p class="card-text text-secondary">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><strong><span class="text-danger text-bold">Jennifer Lopez</span></strong><small class="text-muted">  Web Designer</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>

<div class="container">
<hr class="border-danger w-100 mt-4">
</div>
{% endblock main_content %}