{% extends 'medicine/base.html' %}
{% load static %}
{% block title %}Privacy Policy{% endblock title %}

{% block main_content %}

<div class="container mt-3">
    <h4 class="text-primary">Privacy Policy</h4>
    <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed illum, aut voluptatem expedita blanditiis veniam culpa omnis modi, aspernatur officia iure tempora consequuntur voluptatum? Voluptate voluptates veritatis nam cum aut molestiae id sunt ea rem veniam et quaerat numquam totam maxime corporis nobis, qui quibusdam quo repellat, debitis omnis quas? Unde delectus esse minus placeat id temporibus culpa provident, exercitationem odio voluptatem facilis sequi pariatur? Ipsa iusto nisi mollitia autem?</p>
    <h5 class="text-danger mt-4">Security</h5>
    <p class="text-secondary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed illum, aut voluptatem expedita blanditiis veniam culpa omnis modi, aspernatur officia iure tempora consequuntur voluptatum? Voluptate voluptates veritatis nam cum.</p>
    <ol>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, fugiat?</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, fugiat?Lorem ipsum dolor sit amet.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, fugiat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, incidunt.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, fugiat?Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    </ol>
    <h5 class="text-danger mt-4">Tips for Safe Transcation</h5>
    <ul>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    <li><span style="color:gray;"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p></span></li>
    </ul>

</div>


<div class="container">
<hr class="border-danger w-100 mt-4">
</div>

{% endblock main_content %}