{% extends 'medicine/base.html' %}
{% load static %}
{% block title %} Search Results {% endblock title %}

{% block main_content %}

<div class="container mt-4">

  <!--Slideshow starts here -->
  {% for product, range, nSlides in allProds %}
  <div class="row">
    <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

        {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}
      </ul>


      <div class="container carousel-inner no-padding">

        <div class="carousel-item active">

          {% for i in product %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card align-items-center" style="width: 18rem;">
              <img src='/media/{{i.product_image}}' class="card-img-top" alt="...">
              <div class="card-body">
                <!-- we will give id becaz for cart display inside popover -->
                <h5 class="card-title" id="namepr{{i.id}}">{{i.med_name}}</h5>
                <h6 class="card-title">Rs.<span id="pricepr{{i.id}}">{{i.selling_price}}</span></h6>
                {% comment %} <span id="divpr{{i.id}}" class="divpr">
                  <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
                </span> {% endcomment %}
                <a href="/product-detail/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-success cart m-3">Quick
                    View</button> </a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}

          {% endfor %}
        </div>



      </div>
    </div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  {% endfor %}
</div>

<div class="container">
<hr class="border-danger w-100 mt-4">
</div>
{% endblock main_content %}

{% block js %}
<script>

{% if msg|length != 0 %}
alert('{{msg}}');
window.location.href = "/" 
{% endif %}

</script>
{% endblock js %}